<footer>
    <div class="container">
      <div class="footer-grid">
        <div class="footer-col">

        <!-- <img src="logo-cs-bau.png" alt="Logo"> -->
          <h4>Scor Bau</h4>
          <p>Text inteligent in germana</p>
          <!-- <div class="social-icons mt-3">
            <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
            <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
            <a href="#" class="social-icon"><i class="fab fa-linkedin-in"></i></a>
          </div>  -->
        </div>
        <div class="footer-col">
          <h4>Serviceleistungen</h4>
          <ul class="footer-links">                        
            <li class="footer-link"><a href="#features">Services</a></li>            
            <li class="footer-link"><a href="#contact">Kontact</a></li>
          </ul>
          <ul class="footer-links">                        
            <li class="footer-link"><a href="#features">Geschäftsbedingungen</a></li>            
            <li class="footer-link"><a href="#contact">Richtlinie</a></li>
            <li class="footer-link"><a href="#contact">Datenschutzbestimmungen</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Kontaktieren Sie uns</h4>
          <ul >                        
            <li >Josef Ludwig Straße 3, 65549 Limburg an der Lahn</li>            
            <li >Email: scor&#64;scor-bau.com</li>
            <li >Telefon: +49 64 319 096 659</li>
            <li >Montag- Freitag 9:00am - 6:00pm</li>
            <li >MwSt: DE350743270</li>
            <li >NASt: 3081031463</li>
          </ul>

        </div>
        <!-- <div class="footer-col">
          <h4>Legal</h4>
          <ul class="footer-links">
            <li class="footer-link"><a href="#">Terms of Service</a></li>
            <li class="footer-link"><a href="#">Privacy Policy</a></li>
            <li class="footer-link"><a href="#">Cookie Policy</a></li>
            <li class="footer-link"><a href="#">GDPR</a></li>
          </ul>
        </div> -->
      </div>
      <div class="footer-bottom">
        <p>&copy; {{ currentYear }} Scor Bau. All rights reserved.</p>
      </div>
    </div>
  </footer>
