<section class="hero background-div">
    <div class="container">
      <div class="hero-content animate-fade-in" >
        <h1>Wir sind das Unternehmen, das Ihre Ideen verwirklicht</h1>
        <p>Kommen Sie zu uns und wir helfen Ihnen bei der Verwirklichung all Ihrer Träume</p>
        <!-- <div class="hero-buttons">
          <a href="#" class="btn btn-lg">Get Started</a>
          <a href="#" class="btn btn-outline btn-lg">Learn More</a>
        </div> -->
      </div>
    </div>
  </section>
